.custom-container {
    background-color: rgb(98, 98, 105);
    margin-left: 10%;
    max-width: 50%;
}
 
.navbar-collapse {         
    justify-content: flex-end;
} 

.bgimg-1  {
    background-image: "Images./background.jpg" 
  }
 
body {
    background-color: rgb(32, 32, 46);
}
